menu "Debug Configuration"
    config DEBUG_PIN1
        int "Debug pin 1"
        range 0	GPIO_RANGE_MAX
        default 6 if IDF_TARGET_ESP32S3
        default 0 if IDF_TARGET_ESP32C6
        help
        	Debug Pin 1 GPIO
        	0=Disable
        	6-11=GPIO

    config DEBUG_PIN2
        int "Debug pin 2"
        range 0	GPIO_RANGE_MAX
        default 7 if IDF_TARGET_ESP32S3
        default 1 if IDF_TARGET_ESP32C6
        help
        	Debug Pin 2 GPIO
        	0=Disable
        	6-11=GPIO
        	
    config DEBUG_PIN3
        int "Debug pin 3"
        range 0	GPIO_RANGE_MAX
        default 8 if IDF_TARGET_ESP32S3
        default 2 if IDF_TARGET_ESP32C6
        help
        	Debug Pin 3 GPIO
        	0=Disable
        	6-11=GPIO

    config DEBUG_PIN4
        int "Debug pin 4"
        range 0	GPIO_RANGE_MAX
        default 9 if IDF_TARGET_ESP32S3
        default 3 if IDF_TARGET_ESP32C6
        help
        	Debug Pin 1 GPIO
        	0=Disable
        	6-11=GPIO

    config DEBUG_PIN5
        int "Debug pin 5"
        range 0	GPIO_RANGE_MAX
        default 10 if IDF_TARGET_ESP32S3
        default 4 if IDF_TARGET_ESP32C6
        help
        	Debug Pin 5 GPIO
        	0=Disable
        	6-11=GPIO

    config DEBUG_PIN6
        int "Debug pin 6"
        range 0	GPIO_RANGE_MAX
        default 11 if IDF_TARGET_ESP32S3
        default 5 if IDF_TARGET_ESP32C6
        help
        	Debug Pin 6 GPIO
        	0=Disable
        	6-11=GPIO

endmenu
