# put here your custom config value
menu "RAMSES_ESP configuration"

    config RADIO_CORE
      int "Core for Radio Task"
      range 0 1 if IDF_TARGET_ESP32S3
      range 0 0 if IDF_TARGET_ESP32C6
      default 1 if IDF_TARGET_ESP32S3
      default 0 if IDF_TARGET_ESP32C6
      help
        The Radio task will run on this core.

    config HOST_CORE
      int "Core for Host Task"
      range 0 1
      default 0 if IDF_TARGET_ESP32S3
      default 0 if IDF_TARGET_ESP32C6
      help
        The Host task will run on this core.

    config FUNCTION_PIN
      int "Function Button GPIO pin"
      range 0 48 if IDF_TARGET_ESP32S3
      range 0 23 if IDF_TARGET_ESP32C6
      default 0 if IDF_TARGET_ESP32S3
      default 9 if IDF_TARGET_ESP32C6
      help
        GPIO pin number of Function Button

    config CS_PLATFORM_PIN
      int "CS Pin"
      range 0 41
      default 12 if IDF_TARGET_ESP32S3
      default 23 if IDF_TARGET_ESP32C6
      help
        GPIOx for CS Platform

    config RESTART_DELAY
      int "Restart Delay (seconds)"
      range 10 30
      default 15
      help
        Function button hold for restart duration.

endmenu
