menu "LED Configuration"
    config GPIO_RX_LED
		int "RX LED GPIO"
        range 0 GPIO_RANGE_MAX
		default 42 if IDF_TARGET_ESP32S3
        default 19 if IDF_TARGET_ESP32C6
        help
        	GPIOx for RX LED

	config GPIO_TX_LED
		int "TX LED GPIO"
        range 0 GPIO_RANGE_MAX
		default 41 if IDF_TARGET_ESP32S3
        default 19 if IDF_TARGET_ESP32C6
        help
        	GPIOx for TX LED
  		
endmenu
